@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>Minimum Market Capitalization (M)</th>
                    <th>Minimum Return on Assets (%)</th>
                    <th>Minimum Op. Income / Enterprise Value (%)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" asp-for="MinimumMarketCapitalization" /></td>
                    <td><input type="text" asp-for="MinimumReturnOnAssets" /></td>
                    <td><input type="text" asp-for="MinimumOperatingIncomeToEnterpriseValue" /></td>
                    <td><input type="submit" value="Fetch Screen" /></td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].Ticker)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].MarketCapitalization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].EnterpriseValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].OperatingIncome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].OperatingIncomeToEnterpriseValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].NetCurrentAssets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].NetPropertyPlantAndEquipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].EmployedCapital)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].ReturnOnAssets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].Sector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].FilingDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScreenItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticker)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketCapitalization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnterpriseValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperatingIncome)
                    </td>
                    <td>
                        @item.OperatingIncomeToEnterpriseValue.ToString("0.##\\%")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetCurrentAssets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetPropertyPlantAndEquipment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployedCapital)
                    </td>
                    <td>
                        @item.ReturnOnAssets.ToString("0.##\\%")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilingDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
