@page
@model LowPriceToBookStocksModel
@{
    ViewData["Title"] = "Low Price To Book Stocks";
}

<div class="text-center">
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>Minimum Market Capitalization (M)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" asp-for="MinimumMarketCapitalization" /></td>
                    <td><input type="submit" value="Fetch Screen" class="btn btn-primary" /></td>
                </tr>
                <tr>
                    <td><span asp-validation-for="MinimumMarketCapitalization" class="text-danger"></span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].Ticker)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].CompanyName)
                </th>
                <th>
                    <a asp-page="./LowPriceToBookStocks" asp-route-sortOrder="@Model.MarketCapitalizationSort">
                        @Html.DisplayNameFor(model => model.ScreenItems[0].MarketCapitalization)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].OperatingIncome)
                </th>
                <th>
                    <a asp-page="./LowPriceToBookStocks" asp-route-sortOrder="@Model.ReturnOnEmployedCapitalSort">
                        @Html.DisplayNameFor(model => model.ScreenItems[0].ReturnOnEmployedCapital)
                    </a>
                </th>
                <th>
                    <a asp-page="./LowPriceToBookStocks" asp-route-sortOrder="@Model.PriceToTangibleBookSort">
                        @Html.DisplayNameFor(model => model.ScreenItems[0].PriceToTangibleBook)
                    </a>
                </th>
                <th>
                    <a asp-page="./LowPriceToBookStocks" asp-route-sortOrder="@Model.PriceToTangibleBookSort">
                        @Html.DisplayNameFor(model => model.ScreenItems[0].PriceToNetAssetsValue)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenItems[0].FilingDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScreenItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticker)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.MarketCapitalization)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.OperatingIncome)
                    </td>
                    <td>
                        @item.ReturnOnEmployedCapital.ToString("0.##\\%")
                    </td>
                    <td>
                        @item.PriceToTangibleBook.ToString("0.##\\%")
                    </td>
                    <td>
                        @item.PriceToNetAssetsValue.ToString("0.##\\%")
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.FilingDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.ScreenItems.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ScreenItems.HasNextPage ? "disabled" : "";
}

<a asp-page="./LowPriceToBookStocks"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.ScreenItems.PageIndex - 1)"
   asp-route-minimumMarketCapitalization="@Model.MinimumMarketCapitalization"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./LowPriceToBookStocks"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.ScreenItems.PageIndex + 1)"
   asp-route-minimumMarketCapitalization="@Model.MinimumMarketCapitalization"
   class="btn btn-primary @nextDisabled">
    Next
</a>